<section id="portfolio">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="title-one">Portfolio</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.</p>
            </div>
        </div>
        <ul class="portfolio-filter text-center">
            <li><a class="btn btn-default active" href="#" data-filter="*">All</a></li>
            <li><a class="btn btn-default" href="#" data-filter=".html">Html</a></li>
            <li><a class="btn btn-default" href="#" data-filter=".wordpress">Wordpress</a></li>
            <li><a class="btn btn-default" href="#" data-filter=".joomla">Joomla</a></li>
            <li><a class="btn btn-default" href="#" data-filter=".megento">Megento</a></li>
        </ul><!--/#portfolio-filter-->
        <div class="portfolio-items">
            <div class="col-sm-3 col-xs-12 portfolio-item html">
                <div class="view efffect">
                    <div class="portfolio-image">
                        <img src="~/assets/images/portfolio/1.jpg" alt="">
                    </div>
                    <div class="mask text-center">
                        <h3>Novel</h3>
                        <h4>Lorem ipsum dolor sit amet consectetur</h4>
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="~/assets/images/portfolio/big-item.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12 portfolio-item jooma">
                <div class="view efffect">
                    <div class="portfolio-image">
                        <img src="~/assets/images/portfolio/2.jpg" alt="">
                    </div>
                    <div class="mask text-center">
                        <h3>Novel</h3>
                        <h4>Lorem ipsum dolor sit amet consectetur</h4>
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="~/assets/images/portfolio/big-item4.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12 portfolio-item wordpress">
                <div class="view efffect">
                    <div class="portfolio-image">
                        <img src="~/assets/images/portfolio/3.jpg" alt="">
                    </div>
                    <div class="mask text-center">
                        <h3>Novel</h3>
                        <h4>Lorem ipsum dolor sit amet consectetur</h4>
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="~/assets/images/portfolio/big-item.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12 portfolio-item megento">
                <div class="view efffect">
                    <div class="portfolio-image">
                        <img src="~/assets/images/portfolio/4.jpg" alt="">
                    </div>
                    <div class="mask text-center">
                        <h3>Novel</h3>
                        <h4>Lorem ipsum dolor sit amet consectetur</h4>
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="~/assets/images/portfolio/big-item.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12 portfolio-item html">
                <div class="view efffect">
                    <div class="portfolio-image">
                        <img src="~/assets/images/portfolio/5.jpg" alt="">
                    </div> <div class="mask text-center">
                        <h3>Novel</h3>
                        <h4>Lorem ipsum dolor sit amet consectetur</h4>
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="~/assets/images/portfolio/big-item.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12 portfolio-item wordpress">
                <div class="view efffect">
                    <div class="portfolio-image">
                        <img src="~/assets/images/portfolio/6.jpg" alt="">
                    </div>
                    <div class="mask text-center">
                        <h3>Novel</h3>
                        <h4>Lorem ipsum dolor sit amet consectetur</h4>
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="~/assets/images/portfolio/big-item.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12 portfolio-item html">
                <div class="view efffect">
                    <div class="portfolio-image">
                        <img src="~/assets/images/portfolio/7.jpg" alt="">
                    </div>
                    <div class="mask text-center">
                        <h3>Novel</h3>
                        <h4>Lorem ipsum dolor sit amet consectetur</h4>
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="~/assets/images/portfolio/big-item.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12 portfolio-item joomla">
                <div class="view efffect">
                    <div class="portfolio-image">
                        <img src="~/assets/images/portfolio/8.jpg" alt="">
                    </div>
                    <div class="mask text-center">
                        <h3>Novel</h3>
                        <h4>Lorem ipsum dolor sit amet consectetur</h4>
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="~/assets/images/portfolio/big-item.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12 portfolio-item html">
                <div class="view efffect">
                    <div class="portfolio-image">
                        <img src="~/assets/images/portfolio/9.jpg" alt="">
                    </div>
                    <div class="mask text-center">
                        <h3>Novel</h3>
                        <h4>Lorem ipsum dolor sit amet consectetur</h4>
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="~/assets/images/portfolio/big-item.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12 portfolio-item wordpress">
                <div class="view efffect">
                    <div class="portfolio-image">
                        <img src="~/assets/images/portfolio/10.jpg" alt="">
                    </div>
                    <div class="mask text-center">
                        <h3>Novel</h3>
                        <h4>Lorem ipsum dolor sit amet consectetur</h4>
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="~/assets/images/portfolio/big-item.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12 portfolio-item joomla">
                <div class="view efffect">
                    <div class="portfolio-image">
                        <img src="~/assets/images/portfolio/11.jpg" alt="">
                    </div>
                    <div class="mask text-center">
                        <h3>Novel</h3>
                        <h4>Lorem ipsum dolor sit amet consectetur</h4>
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="~/assets/images/portfolio/big-item3.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12 portfolio-item megento">
                <div class="view efffect">
                    <div class="portfolio-image">
                        <img src="~/assets/images/portfolio/12.jpg" alt="">
                    </div>
                    <div class="mask text-center">
                        <h3>Novel</h3>
                        <h4>Lorem ipsum dolor sit amet consectetur</h4>
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="~/assets/images/portfolio/big-item4.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section> <!--/#portfolio-->