@page "/ForgotPassword"
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-5 col-sm-offset-4">
        <div class="card">
            <div class="card-heading"><h4>Forgot Password</h4></div>
            <div class="card-content">

                <form method="post">
                    @*<div asp-validation-summary="All" class="text-danger"></div>*@

                    <div class="form-group row">
                        <div class="col-sm-2"><label asp-for="Input.UserName"></label></div>
                        <div class="col-sm-10">
                            <input asp-for="Input.UserName" class="form-control" />
                            <span asp-validation-for="Input.UserName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-10 col-sm-offset-2">
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>

                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
